<div class="grid">
  <div class="flexbox">
    <div class="flexbox__item2"></div>
    <div class="flexbox__item1"></div>
    <div class="flexbox__item2"></div>
    <div class="flexbox__item3"></div>
    <div class="flexbox__item1"></div>
    <div class="flexbox__item1"></div>
    <div class="flexbox__item2"></div>
    <div class="flexbox__item3"></div>
    <div class="flexbox__item3"></div>
    <div class="flexbox__item1"></div>
    <div class="flexbox__item2"></div>
    <div class="flexbox__item3"></div>
    <div class="flexbox__item3"></div>
  </div>
  <div class="flexbox2">
    <div class="flexbox2__item flexbox2__item--grow2"></div>
    <div class="flexbox2__item"></div>
    <div class="flexbox2__item flexbox2__item--grow1"></div>
    <div class="flexbox2__item flexbox2__item--shrink"></div>
    <div class="flexbox2__item"></div>
    {{!-- Uncomment below to see the effect of flex-shrink --}}
    {{!-- <div class="flexbox2__item"></div>
    <div class="flexbox2__item"></div>
    <div class="flexbox2__item"></div>
    <div class="flexbox2__item"></div>
    <div class="flexbox2__item"></div>
    <div class="flexbox2__item"></div>
    <div class="flexbox2__item"></div>
    <div class="flexbox2__item"></div>
    <div class="flexbox2__item"></div>
    <div class="flexbox2__item"></div>
    <div class="flexbox2__item"></div> --}}
  </div>
  <div class="flexbox3">
    <div class="flexbox3__item2"></div>
    <div class="flexbox3__item1"></div>
    <div class="flexbox3__item2"></div>
    <div class="flexbox3__item3"></div>
    <div class="flexbox3__item2"></div>
    <div class="flexbox3__item1"></div>
    <div class="flexbox3__item3"></div>
    <div class="flexbox3__item2"></div>
    <div class="flexbox3__item1"></div>
    <div class="flexbox3__item1"></div>
    <div class="flexbox3__item3"></div>
  </div>
  <div class="flexbox4">
    <div class="flexbox4__item flexbox4__item--style9"></div>
    <div class="flexbox4__item flexbox4__item--style8"></div>
    <div class="flexbox4__item flexbox4__item--style2"></div>
    <div class="flexbox4__item flexbox4__item--style2"></div>
    <div class="flexbox4__item flexbox4__item--style5"></div>
    <div class="flexbox4__item flexbox4__item--style8"></div>
    <div class="flexbox4__item flexbox4__item--style9"></div>
    <div class="flexbox4__item flexbox4__item--style1"></div>
    <div class="flexbox4__item flexbox4__item--style6"></div>
    <div class="flexbox4__item flexbox4__item--style6"></div>
    <div class="flexbox4__item flexbox4__item--style3"></div>
    <div class="flexbox4__item flexbox4__item--style1"></div>
    <div class="flexbox4__item flexbox4__item--style8"></div>
    <div class="flexbox4__item flexbox4__item--style5"></div>
    <div class="flexbox4__item flexbox4__item--style1"></div>
    <div class="flexbox4__item flexbox4__item--style1"></div>
    <div class="flexbox4__item flexbox4__item--style2"></div>
    <div class="flexbox4__item flexbox4__item--style9"></div>
    <div class="flexbox4__item flexbox4__item--style9"></div>
    <div class="flexbox4__item flexbox4__item--style7"></div>
    <div class="flexbox4__item flexbox4__item--style8"></div>
    <div class="flexbox4__item flexbox4__item--style4"></div>
    <div class="flexbox4__item flexbox4__item--style3"></div>
    <div class="flexbox4__item flexbox4__item--style4"></div>
    <div class="flexbox4__item flexbox4__item--style9"></div>
    <div class="flexbox4__item flexbox4__item--style3"></div>
    <div class="flexbox4__item flexbox4__item--style2"></div>
    <div class="flexbox4__item flexbox4__item--style6"></div>
    <div class="flexbox4__item flexbox4__item--style8"></div>
    <div class="flexbox4__item flexbox4__item--style8"></div>
    <div class="flexbox4__item flexbox4__item--style4"></div>
    <div class="flexbox4__item flexbox4__item--style9"></div>
    <div class="flexbox4__item flexbox4__item--style2"></div>
    <div class="flexbox4__item flexbox4__item--style2"></div>
    <div class="flexbox4__item flexbox4__item--style2"></div>
    <div class="flexbox4__item flexbox4__item--style6"></div>
    <div class="flexbox4__item flexbox4__item--style1"></div>
    <div class="flexbox4__item flexbox4__item--style9"></div>
    <div class="flexbox4__item flexbox4__item--style8"></div>
    <div class="flexbox4__item flexbox4__item--style4"></div>
    <div class="flexbox4__item flexbox4__item--style4"></div>
    <div class="flexbox4__item flexbox4__item--style6"></div>
    <div class="flexbox4__item flexbox4__item--style1"></div>
    <div class="flexbox4__item flexbox4__item--style2"></div>
    <div class="flexbox4__item flexbox4__item--style3"></div>
    <div class="flexbox4__item flexbox4__item--style7"></div>
    <div class="flexbox4__item flexbox4__item--style9"></div>
    <div class="flexbox4__item flexbox4__item--style1"></div>
    <div class="flexbox4__item flexbox4__item--style7"></div>
    <div class="flexbox4__item flexbox4__item--style8"></div>
  </div>
</div>