body {
	margin: 0;
}

.grid {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 50vh 50vh;
}

.flexbox {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: baseline;
	align-content: space-around;
	background-color: green;
}

.flexbox__item1 {
	width: 50px;
	height: 75px;
	background-color: aqua;
	margin: 5px 10px;
}

.flexbox__item2 {
	width: 50px;
	height: 150px;
	background-color: aqua;
	margin: 5px 10px;
}

.flexbox__item3 {
	width: 50px;
	height: 50px;
	background-color: aqua;
	margin: 5px 10px;
}

.flexbox2 {
	display: flex;
	align-items: center;
	background-color: fuchsia;
}

.flexbox2__item {
	width: 50px;
	height: 80%;
	margin: 10% 10px;
	background-color: green;
}

.flexbox2__item--grow1 {
	background-color: blue;
	flex-grow: 1;
}

.flexbox2__item--grow2 {
	background-color: purple;
	flex-grow: 2;
}

.flexbox2__item--shrink {
	background-color: yellow;
	flex-shrink: 2;
}

.flexbox3 {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
	background-color: red;
}

.flexbox3__item1 {
	width: 25%;
	height: 50px;
	flex-grow: 1;
	background-color: gold;
	margin: 5px 10px;
}

.flexbox3__item2 {
	width: 10%;
	height: 50px;
	background-color: gold;
	margin: 5px 10px;
}

.flexbox3__item3 {
	width: 40%;
	height: 50px;
	background-color: gold;
	margin: 5px 10px;
}

.flexbox4 {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	justify-content: space-around;
	background-color: darkgoldenrod;
}

.flexbox4__item {
	height: 50px;
	background-color: maroon;
	margin: 0 10px;
}

.flexbox4__item:hover {
	background-color: blue;
}

.flexbox4__item--style1 {
	width: 10%;
}

.flexbox4__item--style2 {
	width: 20%;
}

.flexbox4__item--style3 {
	width: 30%;
}

.flexbox4__item--style4 {
	width: 40%;
}

.flexbox4__item--style5 {
	width: 50%;
}

.flexbox4__item--style6 {
	width: 60%;
}

.flexbox4__item--style7 {
	width: 70%;
}

.flexbox4__item--style8 {
	width: 80%;
}

.flexbox4__item--style9 {
	width: 90%;
}

.gridbox {
	background-color: blueviolet;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.gridbox__item1 {
	grid-column: 1 / 5;
	grid-row: 1 / 2;
	background-color: green;
}

.gridbox__item2 {
	grid-column: 1 / 2;
	grid-row: 2 / 5;
	background-color: darkblue;
}

.gridbox__item3 {
	grid-column: 1 / 5;
	grid-row: 5 / 6;
	background-color: fuchsia;
}

.gridbox__item4 {
	grid-column: 3 / 5;
	grid-row: 3 / 4;
	background-color: purple;
}

.gridbox2 {
	background-color: darkred;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	grid-template-areas:
		'first first .      fourth fourth'
		'first first second fourth fourth'
		'.     .     second .      .'
		'fifth fifth second third  third'
		'fifth fifth .      third  third';
}

.gridbox2__item1 {
	grid-area: first;
	background-color: orange;
}

.gridbox2__item2 {
	grid-area: second;
	background-color: green;
}

.gridbox2__item3 {
	grid-area: third;
	background-color: tomato;
}

.gridbox2__item4 {
	grid-area: fourth;
	background-color: darkcyan;
}

.gridbox2__item5 {
	grid-area: fifth;
	background-color: rebeccapurple;
}

.gridbox3 {
	display: grid;
	background-color: aquamarine;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: 1fr 2fr 1fr;
}

.gridbox3__item {
	justify-self: center;
	align-self: center;
	/* Equal to */
	/* place-self: center; */
}

.gridbox3__item-a {
	width: 50%;
	height: 60%;
	background-color: coral;
	grid-column: 1 / 2;
}

.gridbox3__item-a--top {
	grid-row: 1 / 2;
}

.gridbox3__item-a--mid {
	grid-row: 2 / 3;
}

.gridbox3__item-a--bot {
	grid-row: 3 / 4;
}

.gridbox3__item-b {
	width: 80%;
	height: 90%;
	background-color: teal;
	grid-column: 3 / 4;
}

.gridbox3__item-b--top {
	grid-row: 1 / 2;
}

.gridbox3__item-b--mid {
	grid-row: 2 / 3;
}

.gridbox3__item-b--bot {
	grid-row: 3 / 4;
}

.gridbox4 {
	display: grid;
	background-color: chartreuse;
	grid-template-columns: 30% 30% 30%;
	grid-template-rows: 20% 20% 20% 20%;
	place-content: space-evenly;
	place-items: center;
}

.gridbox4__item1 {
	width: 75%;
	height: 80%;
	grid-column: 1 / 4;
	grid-row: 1 / 2;
	background-color: brown;
}

.gridbox4__item2 {
	width: 60%;
	height: 80%;
	grid-column: 1 / 4;
	grid-row: 2 / 3;
	background-color: darkolivegreen;
}

.gridbox4__item3 {
	width: 95%;
	height: 85%;
	grid-column: 1 / 2;
	grid-row: 3 / 5;
	background-color: deeppink;
}
.gridbox4__item4 {
	width: 70%;
	height: 80%;
	grid-column: 2 / 3;
	grid-row: 3 / 5;
	background-color: dodgerblue;
}
.gridbox4__item5 {
	width: 85%;
	height: 80%;
	grid-column: 3 / 4;
	grid-row: 3 / 5;
	background-color: midnightblue;
}
